# Libraries

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import Row

# Create Spark Session

In [3]:
spark = SparkSession.builder.getOrCreate()

25/04/11 21:06:05 WARN Utils: Your hostname, kampootar resolves to a loopback address: 127.0.1.1; using 192.168.1.9 instead (on interface enp8s0)
25/04/11 21:06:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/11 21:06:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
data = [
    (1, 'Christopher', 'Wilson'),
    (2, 'Jennifer', 'Martinez'),
    (3, 'Michael', 'Anderson'),
    (4, 'Sarah', 'Taylor'),
    (5, 'David', 'Thomas'),
    (6, 'Emily', 'Hernandez'),
    (7, 'James', 'Moore'),
    (8, 'Jessica', 'Jackson'),
    (9, 'William', 'Martin'),
    (10, 'Ashley', 'Lee'),
    (41, 'Brandon', 'Perez'),
    (42, 'Samantha', 'White'),
    (43, 'Joseph', 'Harris'),
    (44, 'Megan', 'Sanchez'),
    (45, 'Ryan', 'Clark'),
    (46, 'Kimberly', 'Ramirez'),
    (47, 'Nicholas', 'Lewis'),
    (48, 'Amanda', 'Walker'),
    (49, 'Daniel', 'Young'),
    (50, 'Stephanie', 'King')
]

my_df = spark.createDataFrame(data, schema=["key", "first_name", "last_name"])

my_df.show()

+---+-----------+---------+
|key| first_name|last_name|
+---+-----------+---------+
|  1|Christopher|   Wilson|
|  2|   Jennifer| Martinez|
|  3|    Michael| Anderson|
|  4|      Sarah|   Taylor|
|  5|      David|   Thomas|
|  6|      Emily|Hernandez|
|  7|      James|    Moore|
|  8|    Jessica|  Jackson|
|  9|    William|   Martin|
| 10|     Ashley|      Lee|
| 41|    Brandon|    Perez|
| 42|   Samantha|    White|
| 43|     Joseph|   Harris|
| 44|      Megan|  Sanchez|
| 45|       Ryan|    Clark|
| 46|   Kimberly|  Ramirez|
| 47|   Nicholas|    Lewis|
| 48|     Amanda|   Walker|
| 49|     Daniel|    Young|
| 50|  Stephanie|     King|
+---+-----------+---------+