In [6]:
%run tools.ipynb

```SQL 
SELECT * from table_name where i > 44;
```

In [7]:
df.show()

+---+----------+---------+---+-------------+
|key|first_name|last_name|age|         city|
+---+----------+---------+---+-------------+
|  1|     Ddhrp|  Srltqnv| 57|      Seattle|
|  2|     Zshov|  Vlltdiu| 56|        Miami|
|  3|     Cixko|  Dsbipxd| 41|        Miami|
|  4|     Vvbby|  Zkcoecu| 18|      Chicago|
|  5|     Ydvxf|  Ojvgryn| 58|        Miami|
|  6|     Nerlp|  Jijqftb| 51|     New York|
|  7|     Szvzf|  Ruibwkp| 50|San Francisco|
|  8|     Ffagm|  Vhicwdx| 40|      Seattle|
|  9|     Kqlxj|  Niwxpqd| 35|     New York|
| 10|     Hqhct|  Noygxbb| 34|      Houston|
| 11|     Qrydg|  Ngdetfa| 47|       Boston|
| 12|     Eucqs|  Dsdbtst| 57|     New York|
| 13|     Bntes|  Mqwtmgx| 55|     New York|
| 14|     Srcxd|  Sywsszc| 33|       Boston|
| 15|     Ysxua|  Tgawxrv| 63|        Miami|
| 16|     Cxyws|  Qlpumwq| 46|  Los Angeles|
| 17|     Airjl|  Tyssrsg| 63|      Houston|
| 18|     Wrzxq|  Dlmgtmh| 26|     New York|
| 19|     Cgmhm|  Chmralk| 63|San Francisco|
| 20|     Usclr|  Xzmprik| 32|      Chicago|
+---+----------+---------+---+-------------+
only showing top 20 rows

In [8]:
df.filter("key>44").show()

+---+----------+---------+---+-------------+
|key|first_name|last_name|age|         city|
+---+----------+---------+---+-------------+
| 45|     Cnwzk|  Wuytgci| 29|       Boston|
| 46|     Rrnep|  Prwwgta| 33|      Houston|
| 47|     Hqwhw|  Pxgdetq| 58|      Houston|
| 48|     Tpxlh|  Cgeuftq| 32|      Seattle|
| 49|     Jjvpi|  Jvyxvqm| 51|     New York|
| 50|     Nrzcl|  Tlfvqrh| 35|      Chicago|
| 51|     Xnvrz|  Mkeeilx| 31|      Seattle|
| 52|     Syzhq|  Swzyidv| 21|      Chicago|
| 53|     Jvhii|  Vijfqzf| 44|  Los Angeles|
| 54|     Tilxf|  Uuueext| 54|      Chicago|
| 55|     Vwhli|  Qnibtao| 47|San Francisco|
| 56|     Yotxv|  Oivnztq| 60|       Boston|
| 57|     Wpttw|  Qjeykug| 53|  Los Angeles|
| 58|     Iwhfj|  Nryeruj| 56|      Houston|
| 59|     Gmzds|  Dfhjprg| 25|      Chicago|
| 60|     Mrnjb|  Kyoutsx| 48|        Miami|
| 61|     Ymbta|  Ynokkke| 20|      Chicago|
| 62|     Kbngj|  Oltedwg| 19|     New York|
| 63|     Cqayh|  Tyikkcb| 31|        Miami|
| 64|     Wyfee|  Pjfcwpm| 56|      Chicago|
+---+----------+---------+---+-------------+
only showing top 20 rows