In [7]:
%run tools.ipynb

```SQL
SELECT age, count(key) as users from table_name group by age;
```

In [8]:
df.show()

+---+----------+---------+---+-------------+
|key|first_name|last_name|age|         city|
+---+----------+---------+---+-------------+
|  1|     Opelv|  Qioopey| 48|     New York|
|  2|     Awsfp|  Takstyd| 18|       Boston|
|  3|     Qckxk|  Wvfyyed| 65|     New York|
|  4|     Nccnn|  Trgqcft| 31|      Houston|
|  5|     Mjrgk|  Htsgkdw| 42|      Seattle|
|  6|     Ntfni|  Itaqrhw| 25|  Los Angeles|
|  7|     Vmxbr|  Wlgzykx| 51|     New York|
|  8|     Waaom|  Ypbyfel| 34|      Seattle|
|  9|     Ytcdc|  Yqegiua| 59|      Houston|
| 10|     Vqnpw|  Csrxwjt| 65|     New York|
| 11|     Yocon|  Xkcswbc| 31|       Boston|
| 12|     Hkado|  Itdhobt| 38|        Miami|
| 13|     Qzvoz|  Aqwpbnf| 62|      Chicago|
| 14|     Ybzlj|  Ivjfduz| 30|  Los Angeles|
| 15|     Twphz|  Skfqmdp| 52|San Francisco|
| 16|     Rupgi|  Uxfstew| 51|     New York|
| 17|     Gaxwc|  Gsjousa| 40|  Los Angeles|
| 18|     Cwqsf|  Qcpiqlt| 39|       Boston|
| 19|     Ksmrg|  Cjfhuxn| 37|      Houston|
| 20|     Gwejl|  Mtsqzrd| 21|      Seattle|
+---+----------+---------+---+-------------+
only showing top 20 rows

In [17]:
df1 = df.groupBy("age").agg(count("first_name").alias("no_of_names"))

df2 = df1.groupBy("age").agg(
    mean("no_of_names").alias("mean_of_names")
)

df2.show()

+---+-------------+
|age|mean_of_names|
+---+-------------+
| 65|          4.0|
| 34|          2.0|
| 31|          3.0|
| 25|          5.0|
| 51|          2.0|
| 48|          1.0|
| 18|          3.0|
| 59|          1.0|
| 38|          3.0|
| 42|          2.0|
| 39|          4.0|
| 52|          1.0|
| 37|          4.0|
| 55|          1.0|
| 62|          1.0|
| 49|          3.0|
| 36|          3.0|
| 21|          1.0|
| 30|          2.0|
| 40|          2.0|
+---+-------------+
only showing top 20 rows