In [23]:
%run tools.ipynb

# SQL Code

```SQL
SELECT * FROM table_name;
```

In [24]:
df.show()

+---+----------+---------+---+-------------+
|key|first_name|last_name|age|         city|
+---+----------+---------+---+-------------+
|  1|     Rsvni|  Kriqlbz| 40|      Houston|
|  2|     Fmqzj|  Beshexr| 40|  Los Angeles|
|  3|     Brgdn|  Dwxmnnu| 36|      Seattle|
|  4|     Zgfiz|  Dfujwrg| 30|      Houston|
|  5|     Gjacj|  Itcrrhm| 58|     New York|
|  6|     Hdeha|  Hbpjraa| 53|     New York|
|  7|     Pyfam|  Yshagak| 28|      Houston|
|  8|     Hptbg|  Lmpcpsf| 31|       Boston|
|  9|     Xopom|  Ulabufg| 25|      Houston|
| 10|     Fpbfg|  Rosfelb| 19|San Francisco|
| 11|     Xtqeo|  Wavbdlk| 20|      Chicago|
| 12|     Ybeyl|  Zqylshm| 65|San Francisco|
| 13|     Uacsn|  Rrgtpnr| 20|      Houston|
| 14|     Zglbx|  Cdezkvn| 49|       Boston|
| 15|     Ndchn|  Wcawhod| 44|      Seattle|
| 16|     Xvyvp|  Hbdulgl| 21|  Los Angeles|
| 17|     Yujbw|  Jnvztji| 18|  Los Angeles|
| 18|     Sbzdk|  Jijatrt| 23|      Chicago|
| 19|     Blmqi|  Wgrkhtx| 58|      Houston|
| 20|     Ephhp|  Aypimpt| 42|      Seattle|
+---+----------+---------+---+-------------+
only showing top 20 rows

In [25]:
df.select("key").show()

+---+
|key|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [27]:
df.selectExpr("first_name").show()

+----------+
|first_name|
+----------+
|     Rsvni|
|     Fmqzj|
|     Brgdn|
|     Zgfiz|
|     Gjacj|
|     Hdeha|
|     Pyfam|
|     Hptbg|
|     Xopom|
|     Fpbfg|
|     Xtqeo|
|     Ybeyl|
|     Uacsn|
|     Zglbx|
|     Ndchn|
|     Xvyvp|
|     Yujbw|
|     Sbzdk|
|     Blmqi|
|     Ephhp|
+----------+
only showing top 20 rows